<div class="container">
    <mat-card class="assignment-card">
        <mat-card-header>
            <mat-card-title>Importing Material Module</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <ul>
                <li>Understand how and where to import the modules.</li>
                <li>Import one of the modules and test it.</li>
                <li>Assignments:
                    <ul>
                        <li>Create a table with simple, dynamic content.</li>
                        <li>Create a table with pagination, sorting, and searching (both simple and dynamic).</li>
                    </ul>
                </li>
            </ul>
        </mat-card-content>

    </mat-card>
</div>