<mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="/dashboard/Assignment_1" (click)="onToggleClose()">
      <mat-icon>assignment</mat-icon>
      <span>Assignment 1</span>
    </a>
    <a mat-list-item routerLink="/dashboard/Assignment_2" (click)="onToggleClose()">
      <mat-icon>assignment</mat-icon>
      <span>Assignment 2</span>
    </a>
    <a mat-list-item routerLink="/dashboard/Assignment_3" (click)="onToggleClose()">
      <mat-icon>assignment</mat-icon>
      <span>Assignment 3</span>
    </a>
    <a mat-list-item routerLink="/dashboard/Assignment_4" (click)="onToggleClose()">
      <mat-icon>assignment</mat-icon>
      <span>Assignment 4</span>
    </a>
    <a mat-list-item routerLink="/dashboard/Assignment_5" (click)="onToggleClose()">
        <mat-icon>assignment</mat-icon>
        <span>Assignment 5</span>
      </a>
  </mat-nav-list>