<div class="container">
    <mat-card class="assignment-card">
        <mat-card-header>
            <mat-card-title>Installation</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <ul>
                <li>Assignment:
                        <ul>
                            <li>Creating a Login Form Using Angular Material</li>
                            <li>Create a student registration form using Angular Material.</li>
                        </ul>
                </li>
            </ul>
        </mat-card-content>

    </mat-card>
</div>