<div class="container">
    <mat-card class="assignment-card">
        <mat-card-header>
            <mat-card-title>Introduction of Material Module</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <ul>
                <li>Understand all the Material modules with several examples.</li>
                <li>Use one of the modules in your Angular application.</li>
                <li>Assignments:
                    <ul>
                        <li>Create dialogs in your application, both simple and dynamic.</li>
                    </ul>
                </li>
            </ul>
        </mat-card-content>

    </mat-card>
</div>