<mat-toolbar color="primary">
    <div>
      <mat-icon (click)="openSidenav()">menu</mat-icon>
      <!-- <button mat-icon-button (click)="openSidenav()" aria-label="Menu">
        <mat-icon>menu</mat-icon>
      </button> -->
      <!-- <button mat-icon-button (click)="openSidenav()" title="Menu" aria-label="Menu">
        <mat-icon>menu</mat-icon>
      </button> -->
    </div>
  
    <button class="logo" mat-button routerLink="/dashboard">Assignment</button>
    <!-- <div class="logo" routerLink="/dashboard">Assignment</div> -->
  </mat-toolbar>