<div class="container">
    <mat-card class="assignment-card">
        <mat-card-header>
            <mat-card-title>Installation</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <ul>
                <li>Use the Angular CLI's installation schematic to set up your Angular Material project by running the following command:
                   <br> <strong>ng add {{addString}} </strong>
                </li>
                <li>The ng add command will install Angular Material, the Component Dev Kit (CDK), Angular Animations and ask you the following questions to determine which features to include:
                    <ol>
                        <li>Choose a prebuilt theme name, or "custom" for a custom theme:
                            <br> You can choose from prebuilt material design themes or set up an extensible custom theme.
                        </li>
                        <li>Set up global Angular Material typography styles:
                            <br> Whether to apply the global typography styles to your application.
                        </li>
                        <li>Set up browser animations for Angular Material:
                            <br> Importing the BrowserAnimationsModule into your application enables Angular's animation system. Declining this will disable most of Angular Material's animations.
                        </li>

                    </ol>
                </li>
                <li>The ng add command will additionally perform the following actions:
                    <ol>
                        <li>Add project dependencies to <strong>package.json</strong></li>
                        <li>Add the Roboto font to your  <strong>index.html</strong></li>
                        <li>Add the Material Design icon font to your <strong>index.html</strong></li>
                        <li>Add a few global CSS styles to:
                            <ol>
                                <li>Remove margins from <strong>body</strong></li>
                                <li>Set <strong>height: 100% on html and body</strong></li>
                                <li>Set Roboto as the default application font</li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ul>
        </mat-card-content>

    </mat-card>
</div>
